<div class="card shadow-sm p-3 mb-3">
  {% include "flight_detail.html" %}
  {% if flight.flightaware_live or flight.flightaware_history %}
  <a class="btn btn-sm btn-primary" target="_blank" href="{{ flight.flightaware_live if is_flight_live(flight) else flight.flightaware_history }}">
      <i class="fas fa-external-link-alt"></i>
      {% if is_flight_live(flight) %}View Live on FlightAware{% else %}View History on FlightAware{% endif %}
  </a>
  {% if flight.flightaware_hint %}
    <div>
      <small class="text-muted d-block mt-2" style="font-size: 0.6rem">
        Look for flight taking off at {{ flight.flightaware_hint }}
        {% if flight.origin or flight.origin_iata or flight.destination or flight.destination_iata %}
          from {{ flight.origin or flight.origin_iata }} → {{ flight.destination or flight.destination_iata or "Unknown" }}
        {% endif %}
      </small>
    </div>
  {% endif %}
  {% endif %}
</div>
